<script>
    function setDefault(){
        localStorage.setItem("style", "default");
        location.reload();
    }
    function setFrilly(){
        localStorage.setItem("style", "frilly");
        location.reload();
    }
    function setDepartment(){
        localStorage.setItem("style", "department");
        location.reload();
    }
</script>
<div class="optional_box">
</div>
<div class="theme_switch">
    <button onclick="setDefault()">Default</button>
    <button onclick="setFrilly()">Frilly</button>
    <button onclick="setDepartment()">Department</button>
</div>
<script>
    var css_link = "/styles/"+localStorage.getItem("style")+".css";
    if (css_link === "/styles/null.css") {
        css_link = "/styles/default.css";
    }
    var tmp_element = document.getElementById("dynamic_css_href");
    tmp_element.setAttribute("href", css_link);
</script>
