body {
	font-family: sans-serif ;
	background: #110000 ;
	color: #ccc ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* For theme switch */
.theme_switch {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align:justify;
}

.theme_switch button {
  width: 33%;
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.theme_switch:after {
  content: "";
  clear: both;
  display: table;
}

.theme_switch button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.theme_switch button:hover {
  background-color: #3e8e41;
}
