body {
	background: black ;
	color: #AAAAAA ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
    color: lightgrey;
	text-align: center ;
}

h1 {
    color: lightgrey;
}

footer {
	text-align: center ;
	clear: both ;
}

link {
    color: cyan;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
    color: cyan;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
    color: cyan;
}
#nextart {
	float: right ;
	text-align: right ;
    color: cyan;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* For theme switch */
.theme_switch {
    top:50%;
    left:50%;
    width:40%;
    text-align:justify;
    margin-left: 33%;
}

.theme_switch button {
	color: cyan;
	background-color: rgba(0,0,0,0.5);
    font-family : inherit;
    font-size: 1em;
    border: none;
}

.theme_switch:after {
    content:'';
    display:inline-block;
    width:99.5%;/* generates an extra transparent line */
}

/* Add a background color on hover */
.theme_switch .button:hover {
  background-color: #a155b9;
}

/* tags */
.taglist a{
    color: cyan;
}
