@font-face {
  font-family: 'Comic Sans MS';
  src: url("local-fonts/comici.ttf");
}

body {
	font-family: "Comic Sans MS", Arial, sans-serif;
	background: #fff0f6 ;
	color: #bc0065 ;
	text-align: center ;
}

.pink-mode {
    background-color: #ffffff ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

h1 {
    text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
