@font-face {
  font-family: 'Comic Sans MS';
  src: url("local-fonts/comici.ttf");
}

body {
	font-family: "Comic Sans MS", Arial, sans-serif;
	background: #f9e6e6 ;
	color: #f765a3 ;
	text-align: center ;
}

.pink-mode {
    background-color: #ffffff ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

h1 {
    text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
    color: #cc3399;
}
#nextart {
	float: right ;
	text-align: right ;
    color: #cc3399;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* For theme switch */
.theme_switch {
	font-family: "Comic Sans MS", Arial, sans-serif;
    top:50%;
    left:50%;
    width:40%;
    text-align:justify;
    margin-left: 33%;
}

.theme_switch button {
  cursor: pointer; /* Pointer/hand icon */
	color: #f9e6e6 ;
	background-color: #f765a3;
    font-family : inherit;
    font-size: 1em;
    border-radius: 40%;
}

.theme_switch:after {
    content:'';
    display:inline-block;
    width:99.5%;/* generates an extra transparent line */
}

/* Add a background color on hover */
.theme_switch .button:hover {
  background-color: #a155b9;
}

/* Puts little hearts around stuff */
h1:before {
  content: "♡ ";
}
h1:after {
  content: " ♡";
}
p:before {
  content: "♡ ";
}
p:after {
  content: " ♡";
}

.sidenav {
    background-color: #1d3142;
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    overflow-x: hidden;
    z-index: 1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
