<button type="button" class="collapsible">19th of April 2023</button>
<div class = "content">
<object data="/minutes/2023-04-19-Minutes.pdf" type="application/pdf" width="100%" height="500px">
    <p>Unable to display PDF file. <a href="/minutes/2023-04-19-Minutes.pdf">Download</a> instead.</p>
</object>
</div>
<button type="button" class="collapsible">5th of April 2023</button>
<div class = "content">
<object data="/minutes/2023-04-05-Minutes.pdf" type="application/pdf" width="100%" height="500px">
    <p>Unable to display PDF file. <a href="/minutes/2023-04-05-Minutes.pdf">Download</a> instead.</p>
</object>
</div>
<button type="button" class="collapsible">29th of March 2023</button>
<div class = "content">
<object data="/minutes/2023-03-29-Minutes.pdf" type="application/pdf" width="100%" height="500px">
    <p>Unable to display PDF file. <a href="/minutes/2023-03-29-Minutes.pdf">Download</a> instead.</p>
</object>
</div>
